* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
  color: #000000;
}

/* === Matrix Rain Background === */

canvas {
  display: block;
} 

#matrixRain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  
  background: #000000; 
}
 
a, button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus, a:active, button:focus, button:active {
  outline: none;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}



/* Intro */
#intro-popup {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #000000, #000916 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1.5s ease;
  overflow: hidden;
}

.intro-container {
  text-align: center;
  color: #fff;
  font-family:'Times New Roman', Times, serif;
}

.intro-ring {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 0px solid rgba(0, 195, 255, 0.2);
  border-top: 3px solid #00c3ff;
  animation: spinRing 2s linear infinite, glowPulse 50s ease-in-out infinite alternate;
  margin: 0 auto 40px;
}

.typewriter {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #bce8ff;
  text-shadow: 0 0 10px #00c3ff99;
  border-right: 3px solid #00c3ff;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes spinRing {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes glowPulse {
  0% { box-shadow: 0 0 10px #00c3ff33; }
  100% { box-shadow: 0 0 40px #00c3ff; }
}

@keyframes fadeOutIntro {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(15.5px); visibility: hidden; }
}





/* ========== HEADER ========== */
header {
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* shadow bhi added here */
}

.top-header {
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left img {
  width: 35px;
  height: 35px;
  border-radius: 9px;
  border: 1.7px solid #efefef;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f4b400; /* Yellow circle */
}

.left h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.role {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #a3a3a3;
  font-weight: 400;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right a {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  transition: 0.2s ease;
}

.right a:hover {
  color: #f4b400;
}

.right a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #aaa;
}

/* Responsive */
/* @media (max-width: 720px) {
  .top-header {
    display: none;
  }

  .right {
    width: 100%;
    justify-content: space-around;
  }
} */

@media (max-width: 700px) {
  .top-header {
    display: none;
  }
}

/* Header (visible only on mobile) */
header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #1f1f1f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left h4 {
    font-family: 'Times New Roman', Times, serif;
  color: #fff;
}
/* ===== Toggle Menu Base ===== */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

/* Hide nav by default on small screens */
@media (max-width: 850px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #111111d0;
    position: absolute;
    top: 80px; /* adjust based on header height */
    right: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    text-align: center;
    z-index: 2000;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .menu-toggle:active {
    transform: scale(0.9);
  }

  header .nav-links a {
    color: #ffffff;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.2s ease;
  }

  header .nav-links a:hover {
    transform: scale(1.1);
    background-color: #ffce39e6;
    color: #ffffff;
    border-radius: 10px;
  }
}

.menu-toggle {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.menu-toggle:focus,
.menu-toggle:active {
  outline: none;
  box-shadow: none;
}

.nav-links a {
  font-family: 'Times New Roman', Times, serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.nav-links a:focus,
.nav-links a:active {
  outline: none;
  box-shadow: none;
}


/* Main Section */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
  gap: 50px;
}

.photo img {
  margin-right: 20px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
  border: solid rgba(255, 255, 255, 0.952) 2px;
  /* transition: transform 0.3s ease, background-color 0.4s ease; */
}

/* .photo img:hover {
  transform: scale(1.04);
}  */

.content {
  max-width: 700px;
}

.content h1 {
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
  font-size: 35px;
  font-weight: 1000;
  color: #34c2ff;
  /*background: #ffaf2e; 
  width: 220px;
  border-radius: 10px;
  border: solid #ffffff 2px ;
  align-items: center;          
  justify-content: center;      
  text-align: center;  */
}

.content h2 {
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
  font-size: 20px;
  font-weight: 800;
  color: #96ddfb;
}

.content p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  margin: 15px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
} 

.content p b {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(223, 242, 255);
}

/* ====== Buttons (Desktop) ====== */
.buttons {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #111;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 16px;
  width: 130px;
  height: 130px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.4s ease;
  overflow: hidden;
  border: 2.5px solid #ffffff;
}

.btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* zoom on hover */
.btn:hover img {
  transform: scale(1.1);
}

/* Hide text on desktop */
.btn span {
  display: none;
}

.green { background-color: #64c06a; }
.yellow { background-color: #f4b400; }
.red { background-color: #ff3b30; }
.cyan { background-color: #7bd6d3; }



/*photo click popup*/
.popup {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    animation: fadeIn 0.6s ease forwards;
  }


  /* ========== POPUP BOX ========== */
  .popup-content {
    background: rgba(32, 32, 32, 0.473);
    border: 1px solid rgba(211, 211, 211, 0.477);
    border-radius: 15px;
    padding: 30px 35px;
    text-align: center;
    color: #e5faff;
    width: 330px;
    transform: scale(0.8);
    opacity: 0;
    animation: popupIn 0.5s ease forwards;
    font-family: "Poppins", sans-serif;
  }

  .popup-content h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: #5dc2fd;
    letter-spacing: 1px;
    font-size: 1.6em;
  }

  .popup-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.95em;
    color: #b6e9ff;
    line-height: 1.5;
  }

  .popup-content button {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 18px;
    padding: 10px 22px;
    background: linear-gradient(135deg, #0091ff, #57c4ff);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
  }

  .popup-content button:hover {
    background:linear-gradient(135deg, #0176cf, #10abff);
    transform: scale(1.05);
  }

  /* ========== ANIMATIONS ========== */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes popupIn {
    0% { transform: scale(0.7); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }

@media (max-width:720px) {

    .popup-content {
    background: rgba(32, 32, 32, 0.473);
    border: 1px solid rgba(211, 211, 211, 0.477);
    border-radius: 15px;
    padding: 30px 35px;
    margin: 30px;
    text-align: center;
    color: #e5faff;
    width: 250px;
    transform: scale(0.8);
    opacity: 0;
    animation: popupIn 0.5s ease forwards;
    font-family: "Poppins", sans-serif;
  }

    .popup-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.85em;
    color: #b6e9ff;
    line-height: 1.5;
  }
  
}




/* ====== Buttons (Mobile View) ====== */
@media (max-width: 850px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
  }

  .btn {
    width: 90%;
    max-width: 320px;
    height: auto;
    border-radius: 400px;
    padding: 10px 15px;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    color: #ffffff;
    border: solid #ffffff 2px;
  }

  .btn img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }

  .btn span {
    font-family: 'Times New Roman', Times, serif;
    display: inline; /* Show text only on mobile */
    font-size: 20px;
    font-weight: 700;
    color:rgb(255, 255, 255) ;
    transition: transform 0.3s ease, background-color 0.4s ease;
  }

  .btn:hover {
    transform: scale(1.02);
    background-color: #1a1a1a5c;
    color: #000;
  }
  .btn:hover span {
    color: #ffffff;
    transform: scale(1.02);
  }
}


/* Responsive */
@media (max-width: 850px) {
  .home {
    flex-direction: column;
    height: auto;
    padding: 60px 20px;
    text-align: center;
  }

  .photo img {
    margin: auto;
    width: 240px;
    height: 240px;
    border-radius: 500px ;
    transition: transform 0.3s ease, background-color 0.4s ease;
  }

  .photo img:hover {
  transform: scale(1.04);
} 

  .content h1 {
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
  font-size: 35px;
  font-weight: 1000;
  color: #34c2ff;
  margin: auto;
  background: none;
  border: none;
 }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* Header visible on mobile */
  header {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

}

/* ---------------- Preloader ---------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* you can change background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#preloader.hide {
  opacity: 0;
  visibility: hidden;
}






/* ---------------- Preloader ---------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.loader-box {
  background: rgba(255, 255, 255, 0.068);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 40px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 60px;
  height: 60px;
  border-top: 6px solid #00d0ff;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-box p {
  color: #ffffff7c;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  animation: fadeText 1.5s ease-in-out infinite
}

@keyframes fadeText {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






.footer {
  /* background-color: #f5ffff; */
  background-color: #111111;
  padding: 40px 60px;
  /* border-top: 1px solid #000000; */
  font-family: "Poppins", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 25px;
}

.footer-section h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #44b7ff;
}

.footer-section p a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease;
}

.footer-section p a:hover {
  color: #5ebefa;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  transition: 0.2s ease;
}

.social-icons a:hover {
  color: #5ebefa;
}

.footer-bottom {
  font-family: 'Times New Roman', Times, serif;
  border-top: 1px solid #ababab;
  padding-top: 10px;
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}

.footer-bottom p {
  font-family: 'Times New Roman', Times, serif;
}
/* Responsive for mobile */
@media (max-width: 700px) {
  .footer {
    padding: 30px 25px;
  }

  .footer-top {
    flex-direction: column;
    gap: 25px;
  }

  .footer-bottom {
    text-align: center;
  }
  .footer-bottom p {
    font-family: 'Times New Roman', Times, serif;
  }
}



/*Index2.html*/
/* ====== Education Section ====== */
.education-section {
  padding: 80px 10%;
  text-align: center;
}

.section-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 750;
  margin-bottom: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.education-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.education-item {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row-reverse;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
  background-color: #1e1e1ecc;
  border:solid #d2d2d21e;
  margin: 1px;
  border-radius: 10px;
}

.edu-image img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 32px;
  margin-right: 33px;
  border: 3.5px solid #ffffff;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.edu-image img:hover {
  transform: scale(1.05);
}

.edu-details {
  text-align: left;
  max-width: 100%;
  margin: auto;
  margin-top: 23px;
  margin-left:55px;
}

.edu-details h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  margin-bottom: 25px;
  color: #d5d5d5;;
}

.edu-details p {
  font-family: 'Times New Roman', Times, serif;
  margin: 4px 0;
  color: #ffffff;
  font-size: 0.9rem; 
}

.edu-details .str {
  font-family: 'Times New Roman', Times, serif;
  color:  #57c4ff;
  font-size: 1.05rem;
}
.edu-link {
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 18px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(135deg, #0091ff, #57c4ff);
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.edu-link:hover {
  background: linear-gradient(135deg, #0091ff, #0180c4);
  transform: translateY(-2px);
}
/* Responsive */
@media (max-width: 768px) {

.education-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.edu-image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-top: 50px;
  margin-right: unset;
  border-radius: 10px;
  border: 3.5px solid #ffffffe3;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

  .education-item {
    flex-direction: column;
    text-align: center;
    background-color: #1e1e1ecc;
    border:solid #d2d2d21e;
    margin: 5px;
    border-radius: 10px;
  }

  .edu-details {
    text-align: center;
    margin: 10px;
  }
}





/*index5.html*/
/* CONTACT SECTION */

.contact-container {
  margin-left: 245px;
  justify-content: center;
  display: flex;
  gap: 60px;
  max-width: 1100px;
  width: 90%;
  border-radius: 16px;
  padding: 70px 0;
  transition: 0.3s ease;
}

/* LEFT SIDE */
.contact-info {
  flex: 1;
  margin-top: 27px;
  border-right: 1px solid #e5e7eb;
  padding-right: 40px;
}

.contact-info h2 {
  font-size: 2rem;
  color: #ff4545;
  margin-bottom: 15px;
}

/* .contact-info p {
  color: #ff5454;
  margin-bottom: 35px;
  line-height: 1.6;
} */

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.info-item i {
  background: linear-gradient(135deg, #ff0000, #ff8282);
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  font-size: 18px;
}

.info-item h4 {
  font-size: 1rem;
  color: #ff5353;
  margin: 0;
}

.info-item p {
  color: #dfdfdf;
  margin: 5px 0 0;
}

/* RIGHT SIDE */
.contact-form {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.info-item p a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease;
}

.info-item p a:hover {
  color: #ff8282;
}

.contact-form{
  margin-top:17px ;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  font-size: 1rem;
  color: #111827;
  background-color: #f9fafb;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color:  #ff8282 ;
  background: #fff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.contact-form button {
  background:  linear-gradient(135deg, #ff0000, #ff8282);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: linear-gradient(135deg, #ff0000, #cc0000);
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    margin-left: 22px;
    flex-direction: column;
    padding: 40px 25px;
  }

  .contact-info {
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
    padding-right: 0;
    padding-bottom: 25px;
  }
}






/*index3.html*/
.resume-section {
  text-align: center;
  padding: 60px 20px;
  color: white;
}

.section-titleX {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skills-category {
  background: rgba(32, 32, 32, 0.497);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 25px;
  flex: 1 1 300px;
  max-width: 350px;
  transition: all 0.3s ease;
}

.skills-category:hover {
  transform: translateY(-5px);
  border-color: #caf4fd;
}

.skills-category h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #93caf4;
  font-weight: 600;
}

.skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80px;
}

.skill-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: transform 0.3s ease;
}

.skill-item img:hover {
  transform: scale(1.1);
}

.skill-item span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9rem;
  color: #fff;
}

/* ✅ Responsive Design */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-category {
    max-width: 90%;
  }
}
